*{
    margin: 0;
    padding: 0;
    list-style: none;
}

body{
    background-image: url(../imagenes/animales.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;

}

.titulo{
    background-color: black;
    padding: 10px;
    width:350px;
    color: rgb(5, 205, 255);
    text-align: center;
    font-family: helvetica;
    font-size: 40px;
    margin: 20px auto;
    border-radius: 20px;
    
        
}

.parrafo{
    color:white;
    font-family: helvetica;
    font-size: 20px;
    width: 700px;
    margin: 70px 20px;
    background-color: black;
    padding: 20px;
    border-radius: 20px;
    
}
.mapa{
    position: absolute;
    left: 800px;
    top:170px;
    background-color: black;
    padding:10px;
    border-radius: 20px;
}

.imagen1{
    margin:20px 20px;
    position: relative;
    top: 30px;
    width: 365px;
    border-radius: 20px;
    background-color: black;
    padding:20px;
   
}

nav{
    height: 50px;
    background-color: black;
    z-index: 1;
}

nav .logo{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size:30px;
    color: rgb(5, 205, 255);
    line-height: 50px;
    padding-left: 20px;
}

nav ul{
    float: right;
    margin-right: 50px;
    z-index: 1;
}

nav ul li{
    display: inline-block;
}
nav ul li a{
    color: white;
    padding: 0 15px;
    display: block;
    line-height:50px;
    font-size: 18px;
    background:black
}

nav ul li a:hover,
nav ul li a.activar{
    color: rgb(5, 205, 255) ;
}

nav ul li:hover>ul{
    top:50px;
    opacity: 1;
    visibility: visible;
    transition: .3s linear;
}



nav ul ul{
    position: absolute;
    top: 50px;
    border-top:3px rgb(5, 205, 255) solid ;
    opacity: 0 ;
    visibility: hidden;
}

nav ul ul li{
    width: 150px;
    display:list-item;
    position: relative;
    border:1px rgb(5, 205, 255) solid;
    border-top:none;
}

nav ul ul li a{
    line-height: 50px;
}




.form-register{
    box-sizing: border-box;
    width: 400px;
    height: 590px;
    background-color: #4e4d4d;
    margin:auto;
    margin-top: 30px;
    box-shadow: 7px 13px 20px black;
    padding: 50px 50px;
    border-top: 4px solid #017bab;
    color:white;
    border-radius: 20px;
}

.form-register h5{
    margin: 0;
    text-align: center;
    height: 40px;
    margin-bottom: 30px;
    border-bottom:1px solid ;
    font-size: 20px;
    font-family: arial;
}
.controls{
    text-align: center;
    color: white;
    width: 100%;
    border:1px solid #017bab;
    margin-bottom: 5px;
    padding: 11px 1px;
    background-color: #252323;
    font-weight: bold;
}

.button{
    width: 100%;
    height: 40px;
    background: #017bab;
    border: none;
    color: white;
    border-collapse: collapse;
    margin-bottom: 5px;
    border-bottom: 1px solid;
}

.form-register a:hover{
    color: #000;
    text-decoration: underline;
}



.form-login{
    box-sizing: border-box;
    width: 400px;
    height: 370px;
    background-color: #4e4d4d;
    margin:auto;
    margin-top: 150px;
    box-shadow: 7px 13px 20px black;
    padding: 50px 50px;
    border-top: 4px solid #017bab;
    color:white;
    border-radius: 20px;
}

.form-login h5{
    margin: 0;
    text-align: center;
    height: 40px;
    margin-bottom: 30px;
    border-bottom:1px solid ;
    font-size: 20px;
    font-family: arial;
}
.controls{
    text-align: center;
    color: white;
    width: 100%;
    border:1px solid #017bab;
    margin-bottom: 5px;
    padding: 11px 1px;
    background-color: #252323;
    font-weight: bold;
}

.button{
    width: 100%;
    height: 40px;
    background: #017bab;
    border: none;
    color: white;
    border-collapse: collapse;
    margin-bottom: 5px;
    border-bottom: 1px solid;
}

.form-register a:hover{
    color: #000;
    text-decoration: underline;
}


div.galeria{
    margin: 10px 20px;
    box-shadow: 0px 4px 8px 0 black;
    float: left;
    width: 400px;
    
}

div.galeria img{
    
    width: 100%;
    height: auto;
}

div.galeria :hover{ 
    border:1px solid #017bab;
    transform: rotate(-3deg);
}

div.pie{
    font-family: arial;
    font-size: 50px;
    text-align: center;
    text-shadow: 2px 2px 5px #017bab;
    padding:10px;
}

h1{
    margin: 30px auto;
    width: 700px;
    color: white;
    text-align: center;
    background-color:rgb(49, 45, 45);
    padding: 20px;
    border-radius: 30px;
    box-shadow: 20px 40px 40px black;
}
.curioso{
    border-radius: 40px;
    font-family: arial;
    font-size: 25px;
    color: rgb(199, 199, 195);
    margin:80px auto;
    width:1300px;
    background: rgb(49, 45, 45);
    padding: 20px;
    box-shadow: 30px 30px 30px black;
}


.construccion{
    background-image: url(imagenes/construccion.jpg);
}